<div id="container">
  <h1>Where are my taxes going?</h1>
  <h2>TheOpenBudget is a cutting edge government transparency project, allowing you to quickly and easily explore where the Australian government spends your money.</h2>
  <div id="share_link">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://theopenbudget.org" data-text="Check out this amazing interactive visualisation of the Budget!" data-via="theopenbudget" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div id="chart">
  </div>
  <div id="sidebar">
   <div class="option">
      <div class="title">
        Select a Financial Year:
      </div>
      <button class='first active year_toggle' id='13_14'>
        13-14 Budget
      </button>
      <button class='last year_toggle' id='12_13'>
        12-13 Actual
      </button>
    </div>
    <div class="item_detail">
      <div class="row">
        <div class="label">Name:</div>
        <div id="item_name" class="value"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">12-13 Actual:</div>
        <div id="value12_13" class="value"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">13-14 Budget:</div>
        <div id="value13_14" class="value"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">Cost per Australian person:</div>
        <div id="individual_taxpayer" class="value"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">Change:</div>
        <div id="value_change" class="value"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">Description:</div>
        <div id="item_description" class="value description"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="label">Source:</div>
        <div id="item_source" class="value source"></div>
        <div class="clear"></div>
      </div>

    </div>

  </div>
  <div id="footer">Want to use this data for your own purposes? Be our guest! Check out the <%= link_to "json export","data.json" %>, or <%= link_to "download your own .csv", 'budget_data.csv' %>.<br/>TheOpenBudget was originally developed for GovHack 2012, and built by a team from <%= link_to "Prosple","http://www.prosple.com.au" %> and <%= link_to "OzDocsOnline", "http://www.ozdocsonline.com.au" %>. Questions, comments, complaints? <%= link_to "Let's tweet", "https://twitter.com/theopenbudget"  %>.</div>
</div>
<%= javascript_include_tag "chart" %>

<script>
  $("button").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
  });
</script>