<!DOCTYPE html>
<html>
<head>
  <title>OpenBudget</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://mbostock.github.com/d3/d3.v2.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
